*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;
}
.iCloud{
    position: fixed;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    background:url(../images/bg.png) repeat 0 0 ;
}
@media screen and (min-width:960px){
    .iCloud{
        width: 100%;
    }
}
@media screen and (max-width:960px){
    .iCloud{
        width: 960px;
    }
}
$icon-position:(
    "green":0px -571px,
    "orange":-102px -571px,
    "red":-68px -571px,
    "yellow":-85px -571px,
    "purple":-34px -571px,
    "blue":-51px -571px,
    "brown":-133px -549px
);
$bg:(
    "green":0px -256px,
    "orange":0px -381px,
    "red":0px -356px,
    "yellow":0px -306px,
    "purple":0px -231px,
    "blue":0px -281px,
    "brown":0px -331px
);
$quan:(
    "green":0px -33px,
    "orange":0px -198px,
    "red":0px -165px,
    "yellow":0px -99px,
    "purple":0px 0px,
    "blue":0px -66px,
    "brown":0px -132px
);
$yanse:green orange red yellow purple blue brown;
@each $v in map_keys($icon-position){
    $l:map_get($icon-position,$v);
    .topinner .icon.#{$v}{
        background-position: nth($l,1) nth($l,2);
    }
}
@each $c in map_keys($bg){
    $cl:map_get($bg,$c);
    .color-list .#{$c}.color{
        background-position: nth($cl,1) nth($cl,2);
    }
}
@each $i in map_keys($quan){
    $q:map_get($quan,$i);
    .color-list.sel.#{$i}{
         background-position: nth($q,1) nth($q,2);
         background-image: url(../images/2.png); 
    }
}
@each $g in $yanse{
    .rb-innerl.#{$g},.xuanx.#{$g},.inner input.#{$g}{
        color:$g !important; 
    }   
}

.iCloudleft{
    width:29%;
    height: 100%;
    background: #383836;
    overflow: auto;
    .header{
        width: 100%;
        height: 45px;
        border-bottom: 1px solid #1a1a1a;
        .img{
            background-image: url(../images/1.png);
            background-position: 0px -588px;
            background-repeat: no-repeat;
            position: absolute;
            width: 56px;
            height: 16px;
            top: 15px;
            left:12px;
        }
        .label{
            line-height: 31px;
            font-size: 21px;
            position:absolute;
            top: 50%;
            margin-top: -15px;
            left:75px;
            color:#999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'SFNSDisplay', 'SFNSText', 'Helvetica Neue', sans-serif;
        }
        .xiabiao{
            background-image: url(../images/1.png);
            background-position: -155px -647px;
            background-repeat: no-repeat;
            position: absolute;
            left: 165px;
            width: 11px;
            height: 7px;
            top: 50%;
            margin-top: -3px;
        }
        .add{
            background-image: url(../images/1.png);
            background-position: -46px -526px;
            background-repeat: no-repeat;
            height: 23px;
            width: 23px;
            position: absolute;
            right: 12px;
            top: 10px;
        }
    }
    .main{
        width:100%;
        font-size: 13px;
        color:#fff;
        .bottom{
            position: absolute;
            width:100%;
            left: 0px;
            right: 0px;
            top: 0px;
            overflow: hidden;
            .bottomlists{
                width: 100%;
                height: 45px;
                .topinner{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 4px;
                    .icon{
                        background-image: url(../images/1.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 12px;
                        top: 12px;
                        height: 17px;
                        width: 17px;
                    }
                    label{
                        display: block;
                        position: absolute;
                        height: 24px;
                        line-height: 24px;
                        top: 8px;
                        left: 42px;
                        right: 42px;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        -o-text-overflow: ellipsis !important;
                        -ms-text-overflow: ellipsis !important;
                        white-space: nowrap !important;
                        font-size: 17px;
                    }
                    input{
                        display: block;
                        position: absolute;
                        height: 24px;
                        line-height: 24px;
                        top: 8px;
                        left: 42px;
                        right: 42px;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        -o-text-overflow: ellipsis !important;
                        -ms-text-overflow: ellipsis !important;
                        white-space: nowrap !important;
                        font-size: 17px;
                        background: transparent;
                        outline: none;
                        border:none;
                        color:#fff;
                    }
                    .wifi{
                        background-image: url(../images/1.png);
                        background-position: 0px -526px;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 9px;
                        right: 10px;
                        width: 23px;
                        height: 23px;
                        margin: 0px;
                        cursor: pointer;
                        opacity: 0.3;
                    }
                    .b{
                        position: absolute;
                        left: 44px;
                        right: 0px;
                        bottom: 0px;
                        height: 2px;
                        background-image: url(../images/b.png);
                        background-position: 0px 0px;
                        background-repeat: repeat;
                    }
                    .t{
                        position: absolute;
                        left: -4px;
                        right: 0px;
                        top: -2px;
                        height: 2px;
                        background-image: url(../images/t.png);
                        background-position: 0px 0px;
                        background-repeat: repeat;
                        display: none;
                    }
                }
            }
            .top{
                left: 0px;
                right: 0px;
                top: 0px;
                height: 45px;
                .topinner{
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 4px;
                    .icon{
                        top: 0px;
                        left: 0px;
                        height: 42px;
                        width: 42px;
                        background-image: url(../images/1.png);
                        background-position: 0px -359px;
                        background-repeat: no-repeat;
                    }
                    label{
                        display: block;
                        position: absolute;
                        height: 24px;
                        line-height: 24px;
                        top: 8px;
                        left: 42px;
                        right: 42px;
                        overflow: hidden !important;
                        text-overflow: ellipsis !important;
                        -o-text-overflow: ellipsis !important;
                        -ms-text-overflow: ellipsis !important;
                        white-space: nowrap !important;
                        font-size: 17px;
                    }
                    .b{
                        position: absolute;
                        right: 0px;
                        bottom: -1px;
                        height: 2px;
                        background-image: url(../images/b.png);
                        background-position: 0px 0px;
                        background-repeat: repeat;
                        left: -4px;
                    }
                }
            }
            .bottomlists.active{
                background: rgb(45, 45, 43);
                .b{
                    left:-4px;
                }
                .t{
                    display: block;
                }
            }      
        }
        .t{
            position: absolute;
            left: 0px;
            right: 0px;
            top: -2px;
            height: 2px;
            background-image: url(../images/t.png);
            background-position: 0px 0px;
            background-repeat: repeat;
        }
        .b{
            position: absolute;
            right: 0px;
            bottom: -1px;
            height: 2px;
            background-image: url(../images/b.png);
            background-position: 0px 0px;
            background-repeat: repeat;
            left: -4px;
        }
    }   
}
.iCloudright{
    width:71%;
    height: 100%;
    position: absolute;
    right:0;
    top:0;
    .right-top{
        left: 0px;
        right: 0px;
        top: 0px;
        height: 45px;
        border-bottom: 1px solid rgba(128,128,128,0.35);
        overflow: hidden;
        position: absolute;
        margin: 0px;
        .irt-left{
            left: 0px;
            width: 50%;
            top: 0px;
            bottom: 0px;
            position: absolute;
            .search{
                left: 3px;
                width: 42px;
                top: 2px;
                height: 42px;
                overflow: hidden;
                position: absolute;
                margin: 0px;
                .ico{
                    left: 11px;
                    width: 24px;
                    top: 8px;
                    height: 24px;
                    background-image: url(../images/1.png);
                    background-position: -138px -359px;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    position: absolute;
                    margin: 0px;
                }
            }
            .ipt{
                left: 45px;
                margin-left: 0px;
                margin-right: 0px;
                top: 0px;
                bottom: 0px;
                right: 3px;
                position: absolute;
                .inner{
                    top: 11px;
                    position: absolute;
                    font-size: 19px;
                    color: rgba(0,0,0,0.3);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .filed{
                    top: 1px;
                    font-size: 19px;
                    color: #333;
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    bottom: 0px;
                    right: 0px;
                    display: block;
                    background: transparent;
                    vertical-align: middle;
                    border: none;
                    outline: none;
                    -webkit-appearance: none;                    
                }
            }
        }
        .irt-right{
            right: 2px;
            top: 0px;
            bottom: 0px;
            width: 136px;
            overflow: hidden;
            position: absolute;
            margin: 0px;
            .name{
                left: 0px;
                right: 55px;
                top: -6px;
                bottom: 0px;
                color: #333;
                height: 54px;
                margin: 0px;
                cursor: pointer;    
                font-size: 21px;
                position: absolute;
                .label{
                    line-height: 31px; 
                    text-align: right;
                    font-size: 21px;
                    line-height: 30px;
                    margin-top: -15px;
                    padding: 0px 0px 0px 0px;
                    padding-right: 18px;
                    cursor: inherit;
                    top: 50%;
                    display: block;
                    min-height: 30px;
                    font-family: 'SFNSDisplay', 'SFNSText', 'Helvetica Neue', sans-serif;
                }
                .chevron{
                    background-image: url(../images/1.png);
                    background-position: -62px -391px;
                    background-repeat: no-repeat;
                    position: absolute;
                    width: 11px;
                    height: 7px;
                    top: 50%;
                    margin-top: -3px;
                    right: 0;
                }
            }
            .xian{
                margin-top: -11px;
                right: 44px;
                width: 1px;
                top: 50%;
                height: 22px;
                background-color: #e5e5e5;
                position: absolute;
            }
            .que{
                right: 0px;
                width: 44px;
                top: 0px;
                bottom: 0px;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none; 
                overflow: hidden;
                position: absolute; 
                .que-icon{
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    top: 50%;
                    left: 50%;
                    margin-top: -11px;
                    margin-left: -11px;
                    background-image: url(../images/1.png);
                    background-position: -137px -526px;
                    background-repeat: no-repeat;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
    .choice:before{
        content: "";
        display: block;
        position: absolute;
        top:87px;
        right:-24px;
        margin-top: -8px;
        background-image: url(../images/1.png);
        -webkit-transform: rotate(270deg);
        background-position: -80px -604px;
        background-repeat: no-repeat;
        width: 33px;
        height: 15px;
        z-index: 2;
    }
    .choice.active{
        display: block;
    }
    .choice{
        position: absolute;
        width:363px;
        height:234px;
        border-radius: 8px;
        top:11px;
        right:78px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
        background: #fff;
        z-index: 100;
        display: none;
        .border{
            position: absolute;
            left: 4px;
            top:4px;
            right:4px;
            bottom:4px;
            margin:auto;
            border-radius: 5px;
            border:1px solid rgba(0,0,0,0.1);
            .inner{
                left: 18px;
                right: 21px;
                top: 19px;
                bottom: 4px;
                position: absolute;
                &>input{
                    left: 2px;
                    right: 0px;
                    top: 0px;
                    height: 42px;
                    width:100%;
                    padding-left:10px;
                    position: absolute;
                    border-style: solid;
                    border-color: #d9d9d9;
                    border-width: 1px;
                    border-radius: 2px;
                    font-weight: 300;
                    font-size: 25px;
                    line-height: 1.2;
                }
                &>label{
                    position: absolute;
                    left: 2px;
                    right: 0px;
                    top: 63px;
                    height: 22px;
                }
                .colorbox{
                    left: 0px;
                    right: 0px;
                    top: 97px;
                    height: 33px;
                    position:absolute;
                    .color-list{
                        background-repeat: no-repeat;
                        height: 33px;
                        width: 33px;
                        float: left;
                        margin-left: 10px;
                        display: block;
                        .color{
                            width: 25px;
                            height: 25px;
                            margin-top: 4px;
                            margin-left: 4px;
                            background-image: url(../images/2.png);
                            background-repeat: no-repeat;
                        }
                    }
                }
                .btn{
                    width:100%;
                    height: 35px;
                    position: absolute;
                    bottom: 0;
                    left:0;
                    -webkit-user-select: none;
                    user-select: none; 
                    &>div{
                        position: absolute;
                        height: 100%;
                        top:0;
                        line-height: 25px;
                        font-size: 17px;
                        color:#007aff;
                    }
                    .btnleft{
                        left:0;
                        color:#ff3b30;
                    }
                    .btnmid{
                        right: 78px;
                    }
                    span{
                        height: 25px;
                        width: 1px;
                        border-left: 1px #ccc solid;
                        display: block;
                        position: absolute;
                        right:56px;
                    }
                    .btnright{
                        right: 0;
                        font-weight: 700;
                    }
                    
                }
            }
        }
    }
    
    .right-bottom{
        left: 0px;
        right: 0px;
        top: 69px;
        bottom: 0px;
        overflow: hidden;
        position: absolute;
        .rb-inner{
            right: 0px;
            top: 0px;
            height: 62px;
            left: 28px;
            overflow: hidden;
            position: absolute;
            .rb-innerl{
                left: 0px;
                right: 200px;
                top: 0px;
                bottom: 10px;
                color: #333;
                font-size: 40px;
                line-height: 1.2;
                font-family: 'SFNSText', 'Helvetica Neue', 'Microsoft Yahei', 'SimHei', sans-serif;
            }
            .rb-innerr{
                right: 30px;
                width: 39px;
                top: 17px;
                height: 27px;
                margin: 0px;
                cursor: pointer;
                font-size: 15px;
                vertical-align: top;
                position: absolute;
                .xuanx{
                    line-height: 29px;
                    font-size: 19px;
                    margin-top: -13px;
                    top: 50%;
                    text-align: center;
                    position: absolute;
                    -webkit-user-select: none;
                    user-select: none;
                }
            }
        }
        .rb-lis{
            left: 0px;
            right: 0px;
            top: 56px;
            bottom: 0px;
            position: absolute;
            .rowline{
                position: absolute;
                left: 30px;
                right: 0px;
                height: 2px;
                background-image: url(../images/png.png);
                background-position: 0px 0px;
                background-repeat: repeat;
                top: 0px;
                z-index: 5;
            }
        }
        .rb-lis2.active{
            z-index: 10;
            .rowlinet{
                left:0;
                height: 2px;
                background:#e0ac00;
            }
            .rowlineb{
                height:1px;
                left:0;
                background:#e0ac00;
            }
            .rowbg{
                background: #e0ac00;
                opacity: .1;
            }
        }
        .rowico.green{
                background-position: -74px -359px;
            }
            .rowico.green.sel{
                background-position: -136px -199px;
            }
        .rb-lis2.fbox{
            padding-bottom: 30px;
            height: auto;
            .rowlinebb{
                left:30px;
                position: absolute;
                right: 0px;
                height: 2px;
                background-image: url(../images/png.png);
                background-position: 0px 0px;
                background-repeat: repeat;
                bottom: -1px;
            }
            .rowlinett{
                left:30px;
                position: absolute;
                right: 0px;
                height: 2px;
                background-image: url(../images/png.png);
                background-position: 0px 0px;
                background-repeat: repeat;
                top: -1px;
            }
        }
        .rb-lis2.fbox:after{
            content: '';
            display: block;
            clear: both;
        }
        .rb-lis2{
            width: 100%;
            float: left;
            height: 52px;
            .list{
                width: 100%;
                height: 52px;
            }
            .allclear{
                right: 30px;
                top: 14px;
                font-size: 19px;
                line-height: 22px;
                bottom: 10px;
                width: 141px;
                position: absolute;
                cursor: pointer;
                -webkit-user-select: none;
            }
            .act{
                right: 156px;
                top: 0px;
                height: 52px;
                left: 30px;
                position: absolute;
                float: left;
                .finished{
                    position: absolute;
                    top: 14px;
                    left: 51px;
                    right: 106px;
                    margin: 0px;
                    width: 100%;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    -o-text-overflow: ellipsis !important;
                    -ms-text-overflow: ellipsis !important;
                    white-space: nowrap !important;
                    color: #999;
                    font-size: 19px;
                    outline: none;
                    border: none;
                    background: transparent;
                }
            }
            .rowico{
                z-index: 10;
                cursor: pointer;
                width:32px;
                height:32px;
                position: absolute;
                top: 11px;
                left: 36px;
                background-image: url(../images/1.png) ;
                background-repeat: no-repeat;       
            }
            .rowbg{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left:0;
            }
            .rowlinet{
                position: absolute;
                right: 0px;
                height: 2px;
                background-image: url(../images/png.png);
                background-position: 0px 0px;
                background-repeat: repeat;
                top: -1px;
                left: 81px;
            }
            .rowlineb{
                position: absolute;
                right: 0px;
                height: 2px;
                background-image: url(../images/png.png);
                background-position: 0px 0px;
                background-repeat: repeat;
                bottom: -1px;
                left: 81px;
            }
        }
    }
}
